.theme-sideways {
  .chat-messages {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    left: -100px;
  }
}

.theme-vertical {
  .chat-messages {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    overflow: hidden;
    height: 100vh;
  }
}
