.theme-sideways {
  .chat-messages {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    left: -100px;
  }
}

.theme-vertical {
  .chat-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
